# submodules
ft8_lib/*
termbox2/*

# Exclude build artifacts
*.o
*.map
*.so
*.so.*
*.a
*/*.o
*/*.so
*/*.so.*
*/*.a
ft8_lib/*.a
ft8_lib/*.o
ft8_lib/*.so
ft8_lib/*.so.*
ft8_lib/*/*.a
ft8_lib/*/*.o
ft8_lib/*/*.so
ft8_lib/*/*.so.*
termbox2/*.so
termbox2/*.so.*
termbox2/*.a

# Exclude binaries
ft8goblin
ft8decoder
ft8encoder
sigcapd

# These might contain sensitive user data...
watchlist.txt
config.json

# log files
*.log

# Databases that are large and can be dealt with by the builder...
fcc_uls/fcc_uls.db
fcc_uls/download/*
gnis/Text/*
gnis/gnis.db
gnis/disclaimer.txt
gnis/*.jpg
gnis/*.txt
gnis/*.zip
gnis/*.xml
gnis/*.7z

##############
# misc stuff #
##############
# Tests...
qrztest*
