[submodule "ft8_lib"]
	path = ext/ft8_lib
	url = https://github.com/PripyatAutomations/ft8_lib
[submodule "termbox2"]
	path = ext/termbox2
	url = https://github.com/termbox/termbox2.git
[submodule "fcc_uls/ulsweb"]
	path = ext/ulsweb
	url = https://github.com/PripyatAutomations/ulsweb
[submodule "ext/yajl"]
	path = ext/yajl
	url = https://github.com/lloyd/yajl.git
[submodule "ext/rmsmap"]
	path = ext/rmsmap
	url = https://github.com/PripyatAutomations/rmsmap
