# Exclude build artifacts
obj/*.map
obj/*.o
obj/*.so
obj/*.so.*
obj/*.a
obj/*/*.map
obj/*/*.o
obj/*/*.so
obj/*/*.so.*
obj/*/*.a

# Exclude binaries
bin/ft8goblin
bin/decoderd-*
bin/encoderd-*
bin/sigcapd

# These might contain sensitive user data...
etc/watchlist.txt
etc/config.json
etc/*.db

# built libraries
lib/*.a
lib/*.so
lib/*.so.*
lib/*.plugin
lib/*.o

# log files
logs/*.log
logs/*.debug

# runtime created files that dont need to persist
run/*.pid
run/*.pipe

# Database sources are large and can be dealt with by the builder...
data-sources/fcc_uls/download/*
data-sources/gnis/Text/*
data-sources/gnis/disclaimer.txt
data-sources/gnis/*.jpg
data-sources/gnis/*.txt
data-sources/gnis/*.zip
data-sources/gnis/*.xml
data-sources/gnis/*.7z

##############
# misc stuff #
##############
# Tests...
qrztest*
