# Exclude build artifacts
*.d
*.o
*.ko
*.obj
*.map
*.so
*.so.*

# Exclude binaries
ft8goblin
ft8decoder
ft8encoder
sigcapd

# These might contain sensitive user data...
watchlist.txt
config.json

# Tests...
qrztest*