{
   "version": 1,
    "devices": [
       {
          "name": "usrp0",
          "type": "uhd",
          "devstring": "type=x300,subdev=B:0,RX2",
          "log-dropped-frames": "false"
       },
       {
          "name": "rtlsdr0",
          "type": "rtlsdr",
          "serial": "RTLV3001",
          "log-dropped-frames": "false"
       },
       {
          "name": "ft891",
          "type": "hamlib",
          "hamlib-model": 2,
          "hamlib-path": "127.0.0.1:4532",
          "tx-priority": 0,
          "enable-tx": "true",
          "tx-audio-device": "hwplug:0",
          "rx-audio-device": "hwplug:0"
       }
   ],
   "ipc": {
      "udp-port-base": 12000,
      "udp-packet-size": 1472,
      "path": "ft8goblin.pipe",
      "mode": "0660"
   },
   "logging": {
      "decoder-loglevel": "notice",
      "decoder-logpath": "file://ft8decoder-%b.log",
      "sigcapd-loglevel": "warning",
      "sigcapd-logpath": "file://sigcapd.log",
      "ft8goblin-loglevel": "error",
      "ft8goblin-logpath": "file://ft8goblin.log"
   },
   "site": {
      "mycall": "N0CALL",
      "gridsquare": "AA00aa",
      "elevation": "300M",
      "city": "Imaginary City",
      "state": "WV",
      "country": "USA"
    },
    "recorder": {
      "minimum-lifetime": "30d",
      "maximum-lifetime": "1y",
      "record-qsos": "true",
      "record-callsign-lookup": "true"
    },
    "callsign-lookup": {
      "use-uls": "true",
      "fcc-uls-database": "fcc_uls.db",
      "use-qrz": "false",
      "qrz-api-key": "xxxx",
      "qrz-username": "xxxx",
      "qrz-password": "xxxx",
      "cache-online-lookups": "true",
      "cache-expiry": "1d",
      "cache-keep-stale-if-offline": "true"
   },
   "gnis-lookup": {
      "gnis-db": "gnis.db",
      "use-gnis": "false"
   },

   "supervisor": {
      "max-crashes": 5,
      "max-crash-time": 60,
      "supervise-decoders": "true",
      "supervise-sigcapd": "true"
   },

   "ft8decoder": {
      "waterfall-update-main": 0.1,
      "waterfall-update-band": 0.1
   },

   "ui": {
      "color": "true",
      "autoscroll": "true",
      "scrollback-lines": 300,
      "alerts": {
         "alert-new-country": "true",
         "alert-new-dxcc": "true",
         "alert-new-grid": "false",
         "alert-watch-calls": "popup",
         "watchfile": "watchlist.txt",
         "watchfile-inotify": "true",
         "watchfile-timed-reload": "false"
      }
   },

   "bands": [
      {
         "device": "usrp0",
         "name": "ft8-160m",
         "mode": "ft8",
         "frequency": 1084000,
         "port": 12001,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-80m",
         "mode": "ft8",
         "frequency": 3573000,
         "port": 12002,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-60m",
         "mode": "ft8",
         "frequency": 5357000,
         "port": 12003,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-40m",
         "mode": "ft8",
         "frequency": 7074000,
         "port": 12004,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-30m",
         "mode": "ft8",
         "frequency": 10133000,
         "port": 12005,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-20m",
         "mode": "ft8",
         "frequency": 14074000,
         "port": 12006,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-17m",
         "mode": "ft8",
         "frequency": 18100000,
         "port": 12007,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-15m",
         "mode": "ft8",
         "frequency": 21074000,
         "port": 12008,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-12m",
         "mode": "ft8",
         "frequency": 24915000,
         "port": 12009,
         "width": 3500
      },
      {
         "device": "usrp0",
         "name": "ft8-10,",
         "mode": "ft8",
         "frequency": 28074000,
         "port": 12010,
         "width": 3500
      },
      {
         "device": "rtlsdr0",
         "name": "ft8-6,",
         "mode": "ft8",
         "frequency": 28074000,
         "port": 12011,
         "width": 3500
      }
   ]
}
